<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="img" href="./img/">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Discover a Shop</title>
</head>
<body>
    <div>
    <header>
        <h1>Discover a Brand</h1>
        <nav>
            <a href='/shops'>Back to Homepage</a>
        </nav>
    </header>
    <h2><%=shop.name %></h2>
    <img src ='<%=shop.img%>' style = 'max-width: 300px;'>
    <div>
    <p><%= shop.description %></p>
    <p><%=shop.location %></p>
    <% if (shop.isBlackOwned === true) { %>
        <%= shop.name %> is Black-owned. 
        <% } else { %>

    <% } %>
    <% if (shop.isSustainable === true) { %>
        <%= shop.name %> is a sustainable / slow fashion brand. 
        <% } else { %>
            
    <% } %>
    <br/>
    <% if (shop.isSmallBusiness === true) { %>
        <%= shop.name %> is a small business. 
        <% } else { %>
            
    <% } %>
    </div>
    <br/>
    
    <div class = 'row'>
        <div class = 'six columns'>
            <button>
                <a href='/shops/<%= shop.id %>/edit'>Edit Shop</a>
            </button>
        </div>
        <div class = 'six columns'>
            <form class = 'form' action = '/shops/<%= shop.id %>?_method=DELETE' method ='POST'>
                <input type = 'submit' value = 'DELETE' />
            </form>
        </div>
    </div> 
    </div>
</body>
</html>