<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="img" href="./img/">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Discover a Shop</title>
</head>
<body>
    <header>
        <h1>Discover a Brand</h1>
    </header>
    <br/>
    <h2><%=shop.name %></h2>
    <img src ='<%=shop.img%>' style = 'max-width: 300px;'>
    <br/>

    <p><%= shop.description %></p>
    <br/>
    <p><%=shop.location %></p>
    <br/>
    <% if (shop.isBlackOwned === true) { %>
        <%= shop.name %> is Black-owned. 
        <% } else { %>

    <% } %>
    <br/>
    <% if (shop.isSustainable === true) { %>
        <%= shop.name %> is a sustainable / slow fashion brand. 
        <% } else { %>
            
    <% } %>
    <br/>
    <% if (shop.isSmallBusiness === true) { %>
        <%= shop.name %> is a small business. 
        <% } else { %>
            
    <% } %>
    <br/>
    <a href='/shops'>Back to Homepage</a>
    <br/>
    <button>
        <a href='/shops/<%= shop.id %>/edit'>Edit Shop</a>
    </button>
    <br/>
    <form class = 'form' action = '/shops/<%= shop.id %>?_method=DELETE' method ='POST'>
        <input type = 'submit' value = 'DELETE' />
    </form>
</body>
</html>